*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.div1{
    background-color: #4583aa; 
    padding: 20px; 
    height: 750px; 
    width: 1351px;
    background-image: url(/image/bluetheme/1.png),url(/image/bluetheme/2.png),url(/image/bluetheme/3.png),
    url(/image/bluetheme/6.png),url(/image/bluetheme/5.png),url(/image/bluetheme/4.png),url(/image/bluetheme/img.png);
    background-repeat: no-repeat;
    background-size: 20%,15%,14%,20%,15%,20%,55%;
    background-position-x: -130px, -60px, 127px, 1045px, 1100px, 1170px,310px;
    background-position-y: 235px, 540px, 605px, 618px, 368px, 240px,390px;  
}


.div1-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div1-head span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.div1-head img{
    height: 35px;
}

.div1-head div{
    padding-top: 8px;
    padding-right: 10px;
}

.div1-head div a{
    color: white;
    font-weight: bold;
}

.div1-content {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.div1-content p{
    margin-bottom: 3%;
}

.div1-content a{
    padding: 15px;
    background-color: orange;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.div2{
    background-color :#FF8000;
    color: white;
    width: 1351px; 
    height: 600px;
    background-image:url(/image/orange/pencil.png), url(/image/orange/card2.png),url(/image/orange/card1.png);
    background-repeat: no-repeat;
    background-position: top,right bottom, right bottom;
    background-size: 460px, 668px, 750px;
    background-position-x: 650px, 806px, 695px;
    background-position-y: 52px, 310px, 180px;
}

.div2-content{
    width: 450px;
    padding-top: 190px;
    padding-left: 80px;
}

.div2-content h1 {
    font-size: 40px;
}

.div2-content p{
    width: 500px;
    font-size: 20px;
}

.div3 {
    background-color :#bc372e;
    color: white;
    width: 1351px; 
    height: 600px;
    background-image: url(/image/red/1.png),url(/image/red/2.png),url(/image/red/3.png);
    background-repeat: no-repeat;
    background-size: 70%, 46%,23.5%;
    background-position: center;
    background-position-x: 613px, 771px,1067px;
    background-position-y: 203px, 252px,110px;
}

.div3-content h1{
    font-size: 40px;
    padding-top: 220px;
    padding-left: 100px;
}

.div3-content p{
    font-size: 18px;
    padding-top: 25px;
    line-height: 1.7;
    padding-left: 100px;
}

.div4 {
    background-color : #398d80;
    color: white;
    width: 1351px; 
    height: 600px;
    background-image: url(/image/green/div4-1.png),url(/image/green/div4-4.png),
    url(/image/green/div4-3.png),url(/image/green/div4-2.png);
    background-repeat: no-repeat;
    background-size: 32%, 6%, 24%, 20%;
    background-position-x: 0px, 1255px, 1045px, 857px;
    background-position-y: 90px, 330px, 354px, 370px;
}

.div4-content h1{
    font-size: 40px;
    padding-top: 180px;
    padding-left: 550px;
}

.div4-content p{
    font-size: 18px;
    padding-top: 25px;
    line-height: 1.7;
    padding-left: 550px;
}

.div5 {
    background-color :  #577783;
    color: white;
    width: 1351px; 
    height: 600px;
    background-image: url(/image/gray/div5-1.png),url(/image/gray/div5-2.png),url(/image/gray/div5-3.png),url(/image/gray/div5-4.png);
    background-repeat: no-repeat;
    background-size: 38%, 23.5%, 38%, 32.5%;
    background-position-x: 750px, 1250px, 750px, 1240px;
    background-position-y: 60px, 70px, 364px, 364px;
}

.div5-content h1{
    font-size: 40px;
    padding-top: 180px;
    padding-left: 150px;
}

.div5-content p{
    font-size: 18px;
    padding-top: 25px;
    line-height: 1.7;
    padding-left: 150px;
    width: 650px;
}

.div6 {
    background-color : #bc372e;
    color: white;
    width: 1351px; 
    height: 600px;
    background-image: url(/image/red/lred3.png), url(/image/red/lred2.png),url(/image/red/lred.png);
    background-repeat: no-repeat;
    background-position: center left, center, center;
    background-size: 25%, 25%, 22%;
    background-position-x: 700px, 850px, 1070px;
    background-position-y: 188px, 112px, 97px;
    display: block;
}

.div6-content h1{
    font-size: 45px;
    padding-top: 200px;
    padding-left: 150px;
}

.div6-content p{
    font-size: 18px;
    padding-top: 25px;
    line-height: 1.7;
    padding-left: 150px;
    width: 650px;
}